<section class="section container-fluid">
    <h1 class="page-header">FNG Subscribe</h1>
    <form ng-controller="fngController" ng-submit='submit()'>
        <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='username'">
        <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us1'">
        <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='782bcc4984694d3254ce0e83c8777c25-us10'">
        <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='cda6f4f549'">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="contact.firstName" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="contact.lastName" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="contact.email" />
        </div>
        <div class="form-group">
            <label>F3 Name</label>
            <input type="text" id="f3name" name="f3name" class="form-control" ng-model="contact.f3Name" />
        </div>
        <div class="form-group">
            <label>Workout</label>
            <select id='workout' name='workout' class="form-control" ng-model='contact.workout' class="form-control">
                <option name='Anvil'>Anvil</option>
                <option name='Area51'>Area51</option>
                <option name='Ascent'>Ascent</option>
                <option name='Bagpipe'>Bagpipe</option>
                <option name='Base Camp'>Base Camp</option>
                <option name='Centurion'>Centurion</option>
                <option name='Committment'>Committment</option>
                <option name='Day Zero'>Day Zero</option>
                <option name='Death Valley'>Death Valley</option>
                <option name='DMZ'>DMZ</option>
                <option name='Dromedary'>Dromedary</option>
                <option name='Fast Twitch'>Fast Twitch</option>
                <option name='Fight Club'>Fight Club</option>
                <option name='Foxhole'>Foxhole</option>
                <option name='Hydra'>Hydra</option>
                <option name='Joust'>Joust</option>
                <option name='Kevlar'>Kevlar</option>
                <option name='Meathead'>Meathead</option>
                <option name='Olympus'>Olympus</option>
                <option name='Outland'>Outland</option>
                <option name='Overdrive'>Overdrive</option>
                <option name='Peak 51'>Peak 51</option>
                <option name='Rebel Yell'>Rebel Yell</option>
                <option name='Skunk Works'>Skunk Works</option>
                <option name='Stonehenge'>Stonehenge</option>
                <option name='Swift'>Swift</option>
                <option name='The Brave'>The Brave</option>
                <option name='The Charge'>The Charge</option>
                <option name='The Devils Turn'>The Devil's Turn</option>
                <option name='The Matrix'>The Matrix</option>
                <option name='The Maul'>The Maul</option>
                <option name='The Rock'>The Rock</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>